.service-areas {
  @apply gap-y-10 gap-x-24
    2xl:gap-x-16
    md:gap-x-8 md:gap-y-8;

  display: grid;
  grid-template-columns: auto 1fr 2fr auto;
  grid-template-rows: auto auto;

  @screen lg {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 500px auto;
  }

  @screen md {
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 400px auto;
  }

  .service-areas-map-container {
    @apply relative col-start-1 col-end-3 row-start-1 row-end-3
      lg:col-start-1 lg:col-end-4 lg:row-start-2 lg:row-end-3;
    z-index: 5;
  }

  .service-areas-bg-container {
    @apply relative col-start-2 col-end-5 row-start-1 row-end-3
      lg:col-start-1 lg:col-end-4 lg:row-start-1 lg:row-end-4;

    .service-areas-bg-image {
      filter: brightness(0.85);
    }
  }

  .service-areas-heading-container {
    @apply z-10 max-w-4xl col-start-3 col-end-5 row-start-1 row-end-2 mt-28 mr-16
      2xl:mt-16
      lg:col-start-2 lg:col-end-3 lg:row-start-1 lg:row-end-2 lg:mr-0
      md:mt-10;

    .service-areas-heading {
      @apply text-4xl font-black text-white
        lg:text-center lg:text-2xl
        md:text-xl
        sm:text-base;
    }
  }

  .service-areas-content-container {
    @apply z-10 max-w-3xl col-start-3 col-end-5 row-start-2 row-end-3 mb-28 mr-16 max-h-96 overflow-auto
      2xl:mb-16
      lg:col-start-2 lg:col-end-3 lg:row-start-3 lg:row-end-4
      lg:mr-0
      md:mb-10;

    &::-webkit-scrollbar {
      width: 0.5em;
    }

    &::-webkit-scrollbar-track {
      @apply bg-gray-50 bg-opacity-10 rounded-full;
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-50 rounded-full;
    }

    * {
      @apply text-white;
    }

    h3 {
      @apply text-3xl font-bold text-white
        md:text-xl;
    }

    .city_scroll_list_title {
      @apply mt-6 mb-2 text-xl font-bold text-white block
        md:text-lg;
    }

    li {
      @apply block my-0.5 text-sm;
      a {
        @apply underline;
      }
    }

    .city_scroll_list_local_phone {
      @apply font-bold mt-5 block;

      .footer-address {
        @apply font-medium text-sm block;

        &:first-of-type {
          @apply -mt-4;
        }

        &:last-of-type {
          @apply -mt-8;
        }
      }
    }

    .city_scroll_list_footer {
      @apply mb-6 mt-8;

      a {
        @apply inline-block px-6 py-3 font-semibold text-white no-underline rounded-md cursor-pointer bg-primary hover:opacity-90 text-center;
      }
    }
  }
}
