.solutions {
  @apply mx-auto max-w-screen-2xl;

  .solutions-header {
    @apply text-5xl font-black text-center mb-14
      md:text-3xl md:mb-4;
  }

  .solutions-blocks-container {
    @apply grid grid-cols-2 grid-rows-2 mx-16 mb-14 gap-x-16 gap-y-16
      lg:gap-x-4 lg:gap-y-4
      md:mx-8 md:mb-8;

    .block {
      $desktop-offset-vertical-padding: 64;
      $desktop-offset-horizontal-padding: 50;

      display: grid;
      grid-template-columns: #{$desktop-offset-horizontal-padding}px auto 1fr;
      grid-template-rows: #{$desktop-offset-vertical-padding}px auto #{$desktop-offset-vertical-padding}px;

      @screen lg {
        grid-template-columns: 1fr;
        grid-template-rows: 100px;
      }

      &:nth-child(odd) {
        @apply col-start-1 col-end-2;
      }

      &:nth-child(even) {
        @apply col-start-2 col-end-3;
      }

      .image-container {
        @apply relative col-start-2 col-end-4 row-start-1 row-end-4
          lg:filter lg:brightness-50 lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2;
      }

      .info-container {
        @apply col-start-1 col-end-3 row-start-2 z-10 shadow-2xl relative
          lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-2 lg:w-auto lg:flex lg:justify-center lg:items-center lg:p-4;
        width: 330px;

        @screen lg {
          width: auto;
        }

        .info-heading {
          @apply py-4 px-8
            lg:hidden;
          background-color: #231f20;

          .info-heading-text {
            @apply text-xl font-semibold text-white;
          }
        }

        .info-detail {
          @apply py-4 px-8
            lg:hidden;
          background-color: #4a4a4a;

          .info-detail-heading {
            @apply mb-2 font-semibold text-white;
          }

          .info-detail-text {
            @apply text-sm text-white;
          }
        }

        .info-cta {
          @apply hover:bg-primary cursor-pointer py-3 px-8 block
            lg:hidden;
          background-color: #4a4a4a;

          .info-cta-text {
            @apply text-sm font-semibold text-white;
          }
        }

        .mobile-info {
          @apply hidden absolute inset-0 justify-center items-center
            lg:flex;

          .mobile-info-heading {
            @apply text-white font-black text-center text-sm;
          }
        }
      }
    }
  }

  .notice-container {
    @apply mx-16 md:mx-8;

    .notice {
      @apply border-solid border max-w-screen-md mx-auto shadow-2xl py-7 px-20 flex items-center
        sm:py-1
        md:px-8 md:justify-center
        lg:px-14;

      border-color: #231f20;
      background-color: #f5f5f5;

      .notice-bg {
        @apply mr-12 sm:mr-4;
        width: 90px;

        @screen sm {
          width: 30px;

          * {
            max-width: 100%;
            height: auto;
          }
        }
      }

      .notice-info {
        .notice-info-heading {
          @apply mb-2 text-2xl font-bold text-primary
            sm:mb-0 sm:text-sm
            md:mb-1;
        }

        .notice-info-text {
          @apply text-lg
            md:hidden;
        }

        .notice-info-text-mobile {
          @apply hidden text-lg sm:text-xs text-primary
            md:block;
        }
      }
    }
  }
}
