<div id="content_helper" style="display: none"></div>
<div
  class="team_single module"
  itemscope=""
  itemtype="https://schema.org/Person"
>
  <div class="team_single_content">
    <h1 style="margin: 0" itemprop="name">Doug Newhouse</h1>
    <h2 style="margin-top: 0" itemprop="affiliation">
      Sure-Dry Basement Systems
    </h2>
    <h3 style="margin: 0">
      Title: <span itemprop="jobTitle">Owner/President</span>
    </h3>
    <h3 style="margin: 0 0 30px 0">
      Hometown: <span itemprop="homeLocation">Menasha</span>
    </h3>
    <div class="team_single_desc">
      <div class="team_single_image">
        <img
          itemprop="image"
          title="Doug Newhouse"
          alt="Doug Newhouse from Sure-Dry Basement Systems"
          src="https://cdn.treehouseinternetgroup.com/uploads/images/48000/small/48261.jpg"
        />
      </div>
      <p>
        <strong
          ><span
            >We believe the customer experience can and should be
            remarkable.&nbsp;</span
          ></strong
        >
      </p>
      <p>
        CONTACT INFO<br /><a href="mailto:doug@suredrybasements.com"><br /></a
        >Office:
        <span id="numberassigned_1" class="mongoose_phone">1-800-379-3788</span>
      </p>
      <p>
        LINKS<br />Facebook:&nbsp;<a href="https://facebook.com/suredry/"
          >https://facebook.com/suredry/</a
        >
      </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>
        Doug started Sure-Dry in 1994 and oversees the leadership team. The
        company has helped over 25,000 homeowners since then! Doug's beliefs and
        energy is always people focused and driven. He is a mentor to many
        family, friends and other business owners. Doug's other motivator -
        restoring (and collecting) antique Allis-Chalmers tractors. You can see
        a few of them during the summer months at tractor shows and farm
        markets.
      </p>
      <p>
        At Sure-Dry we work every day to raise and set the industry standards
        and provide a remarkable experience for each of our customers. Doug's
        conviction and leadership is at the very core of delivering on that
        mission.&nbsp;
      </p>
      <p>
        "Our teams go above and beyond to deliver on every customer’s goals and
        proudly stand behind their work,” says Doug.
      </p>
      <p>
        We are excited to have Doug as part of the Sure-Dry team as we work to
        redefine the industry and create positive, remarkable experiences.&nbsp;
      </p>
      <div class="row">
        <div class="col-lg-8">
          <div class="post-container">
            <div class="post-text">
              <p>&nbsp;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    #tabs,
    #tabs-1,
    #tabs-2 {
      margin: 0 !important;
      padding: 0 !important;
      border: none !important;
      background: none !important;
      clear: both;
    }
    #tabs-1 {
      margin-top: 10px !important;
    }
    .ui-tabs-nav {
      overflow: hidden !important;
      margin-bottom: 10px !important;
    }
  </style>
  <div class="team_single_widgets">
    <div class="tabs-content">
      <div
        role="tabpanel"
        aria-hidden="false"
        class="content active"
        id="panel-1"
      >
        <h3>Videos from projects I was involved with:</h3>
        <style>
          #inline-videos {
            margin: 30px auto;
            position: relative;
          }
          #content-wrap #inline-videos h3 {
            color: #353535;
            margin: 0 0 20px 0;
          }
          #inline-videos p.more-assets {
            position: absolute;
            bottom: auto;
            left: auto;
            top: 0px;
            right: 0px;
          }
          #inline-videos p.more-assets a {
            font-size: 12px;
            display: inline-block;
          }
          #inline-videos p.more-assets a::before {
            content: "+";
            border: 0;
            height: auto;
            width: auto;
            line-height: 14px;
            font-size: 14px;
            display: inline;
            text-align: center;
            padding: 0 !important;
            vertical-align: baseline;
            float: none;
            margin: 0 3px 0 0;
          }
          @media screen and (max-width: 640px) {
            #inline-videos {
              padding-bottom: 30px;
            }
            #inline-videos p.more-assets {
              top: auto;
              left: 0px;
              bottom: 0px;
            }
          }
          .thumb img {
            width: 100%;
          }
          .feat-item {
            margin-bottom: 10px;
          }
          span.feat-title {
            display: block;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
          }
          .feat-content {
            line-height: 1.3em;
          }
          .feat-content a {
            font-size: 10px;
            text-decoration: underline;
            text-transform: uppercase;
          }
          .video-items-wrap {
            overflow: hidden;
          }
          span.video-items-title {
            display: block;
            font-size: 16px;
            margin-bottom: 10px;
            color: #353535;
          }

          .item-play {
            background: rgba(0, 0, 0, 0.7);
            border-radius: 5px;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            margin: 0;
          }
          .item-play:after {
            content: "";
            display: block;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            border-style: solid;
            border-width: 9.5px 0 9.5px 17px;
            border-color: transparent transparent transparent
              rgba(255, 255, 255, 1);
          }
          .feat-item .item-play {
            width: 75px;
            height: 45px;
          }
          .video-item .item-play {
            width: 50px;
            height: 30px;
          }
          .video-item .item-play:after {
            border-width: 7px 0 7px 12px;
          }
        </style>
        <script>
          window.onload = function () {
            $(".ytvid").colorbox({
              iframe: true,
              maxWidth: "100%",
              maxHeight: "100%",
              innerWidth: "640px",
              innerHeight: "400px",
              opacity: 0.6,
              onComplete: function () {
                $("#cboxContent iframe").css("height", "420px");
                $captionHeight = $(this)
                  .parents()
                  .find("#cboxTitle .lightbox_caption_span")
                  .height();
                $(".ytvid").colorbox.resize({
                  innerHeight: 450 + $captionHeight,
                });
                $("#cboxTitle").css("width", "95%");
                $("#cboxTitle").css("color", "#000000");
              },
            });

            $("#inline-videos .video-items").slick({
              autoplay: false,
              dots: true,
              arrows: false,
              infinite: true,
              speed: 500,
              fade: false,
              cssEase: "ease",
              slidesToShow: 4,
              slidesToScroll: 4,
              responsive: [
                {
                  breakpoint: 640,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                  },
                },
              ],
            });
          };
        </script>
        <div id="inline-videos">
          <h3>Related Videos</h3>
          <p class="more-assets">
            <a
              href="https://www.suredrybasements.com/about-us/videos.html"
              title="View All Videos"
              >View All Videos</a
            >
          </p>
          <div class="row">
            <div class="columns medium-5 feat-item thumb">
              <a
                href="https://www.youtube.com/embed/VnaG5WT2bqM?rel=0"
                title="SureDry Home Enhancement Show on Wausau Station WSAW"
                class="ytvid"
              >
                <img
                  src="https://img.youtube.com/vi/VnaG5WT2bqM/0.jpg"
                  title="Sure Dry WSAW TV Show Segment"
                  alt="Sure Dry WSAW TV Show Segment"
                />
                <div class="item-play"></div>
              </a>
            </div>
            <div class="column medium-7">
              <div class="row">
                <div class="columns feat-details">
                  <h4 class="feat-title">Sure Dry WSAW TV Show Segment</h4>
                  <p class="feat-content">
                    SureDry Home Enhancement Show on Wausau Station WSAW
                    <a
                      href="https://www.youtube.com/embed/VnaG5WT2bqM?rel=0"
                      class="ytvid"
                      title="SureDry Home Enhancement Show on Wausau Station WSAW"
                      >Watch Video »</a
                    >
                  </p>
                </div>
              </div>
              <div class="video-items-wrap">
                <div class="row">
                  <div class="columns">
                    <span class="video-items-title">Related Videos</span>
                    <div class="row">
                      <div class="video-items">
                        <div class="columns">
                          <div class="video-item thumb">
                            <a
                              href="https://www.youtube.com/embed/hvhtqeFl3hw?rel=0"
                              title="Doug Newhouse and His Journey"
                              class="ytvid"
                            >
                              <img
                                src="https://img.youtube.com/vi/hvhtqeFl3hw/1.jpg"
                                title="Doug Newhouse and His Journey"
                                alt="Doug Newhouse and His Journey"
                              />
                              <div class="item-play"></div>
                            </a>
                          </div>
                        </div>
                        <div class="columns">
                          <div class="video-item thumb">
                            <a
                              href="https://www.youtube.com/embed/QAVzshoQnEA?rel=0"
                              title="Save My Basement Contest on Living..."
                              class="ytvid"
                            >
                              <img
                                src="https://img.youtube.com/vi/QAVzshoQnEA/1.jpg"
                                title="Save My Basement Contest on Living with Amy"
                                alt="Save My Basement Contest on Living with Amy"
                              />
                              <div class="item-play"></div>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team_single_links">
    <a href="javascript:history.go(-1)">Back to Previous Page</a>
    <a href="https://www.suredrybasements.com/about-us/meet-the-team.html"
      >Back to Meet The Team</a
    >
  </div>
</div>
