<div id="content_helper" style="display: none"></div>
<div
  class="questions_answers_index module"
  itemscope=""
  itemtype="https://schema.org/FAQPage"
>
  <h1>Sure-Dry Basement Systems Q&amp;A</h1>
  <div id="faq" class="qa-wrap">
    <div
      class="qa-item"
      itemscope=""
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <div class="qa-header">
        <i class="qa-arrow">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </i>
        <h4 itemprop="name">How are basement walls waterproofed?</h4>
      </div>
      <div
        class="qa-content"
        itemscope=""
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
        style="max-height: 0px"
      >
        <div itemprop="text">
          <p>
            For waterproofing basement walls, Sure-Dry uses many different
            <a
              class="bold"
              href="https://www.suredrybasements.com/basement-waterproofing/products/walls.html"
              >wall panels</a
            >
            to fit more homeowners exact needs.
          </p>
          <p>
            All our wall panels have a waterproof liner to keep water out, as
            well as, washable surfaces that create a bright, clean finish!
          </p>
        </div>
      </div>
    </div>
    <div
      class="qa-item"
      itemscope=""
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <div class="qa-header">
        <i class="qa-arrow">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </i>
        <h4 itemprop="name">How to reduce radon levels in my home?</h4>
      </div>
      <div
        class="qa-content"
        itemscope=""
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <div itemprop="text">
          To reduce radon levels drastically, we install the Radon Mitigation
          System. This will lower the levels of radon in your home resulting in
          a safer environment for your family. To get a free estimate and
          inspection for your home, contact our Sure-Dry team at 1-800-379-3788!
        </div>
      </div>
    </div>
    <div
      class="qa-item"
      itemscope=""
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <div class="qa-header">
        <i class="qa-arrow">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </i>
        <h4 itemprop="name">How to repair basement wall cracks?</h4>
      </div>
      <div
        class="qa-content"
        itemscope=""
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <div itemprop="text">
          <p>
            <span
              >The soil around your foundation is filled with water, and even
              the smallest crack will allow this groundwater to seep into your
              basement. We then use an innovative polyurethane sealant called
              FlexiSpan® to seal the crack. This flexible sealant will never dry
              or crack and can flex to the natural movement of your foundation
              wall, ensuring a completely waterproofing seal.</span
            >
          </p>
        </div>
      </div>
    </div>
    <div
      class="qa-item"
      itemscope=""
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <div class="qa-header">
        <i class="qa-arrow">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </i>
        <h4 itemprop="name">Who does basement waterproofing?</h4>
      </div>
      <div
        class="qa-content"
        itemscope=""
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <div itemprop="text">
          We at SureDry Basement Systems do! We have all kinds of patented
          waterproofing products to help solve your basement problems. If you
          are interested in waterproofing your basement or crawlspace give us a
          call for a free estimate and inspection. We will help you get a dry,
          cleaner living environment!
        </div>
      </div>
    </div>
    <div
      class="qa-item"
      itemscope=""
      itemprop="mainEntity"
      itemtype="https://schema.org/Question"
    >
      <div class="qa-header">
        <i class="qa-arrow">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
            ></path>
          </svg>
        </i>
        <h4 itemprop="name">Why does my basement leak every time it rains?</h4>
      </div>
      <div
        class="qa-content"
        itemscope=""
        itemprop="acceptedAnswer"
        itemtype="https://schema.org/Answer"
      >
        <div itemprop="text">
          <p>
            If your foundation walls were constructed with concrete, it's easy
            for rain water to press its way through the concrete, entering into
            your basement. Rain water will accumulate near your home and after
            saturating the ground, it will begin to seep in through your walls
            and wall-floor joist. If you are experiencing any water in your
            basement, please give us a call at 1-800-379-3788 so we can make
            your living environment much happier!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
