<div class="supernav">
  <ul class="level-1 large">
    <li class="with-children">
      <a>Services</a>
      <div class="dropdown">
        <svg
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
          ></path>
        </svg>
      </div>

      <ul class="level-2 columned">
        <button class="return-level-1">
          <svg
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
            ></path>
          </svg>
          <span> Go Back </span>
        </button>
        <li>
          <a>Basement Waterproofing</a>

          <ul class="level-3">
            <li>
              <a>Products</a>
            </li>
            <li>
              <a>Basement Crack Repairs</a>
            </li>
            <li>
              <a>Basement Flooding</a>
            </li>
            <li>
              <a>The basement System Network</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Foundation Repair</a>

          <ul class="level-3">
            <li>
              <a>Foundation Problems</a>
            </li>
            <li>
              <a>Foundation Repair Costs</a>
            </li>
            <li>
              <a>Foundation Repair Products</a>
            </li>
            <li>
              <a>About Support Works</a>
            </li>
            <li>
              <a>Testimonials</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Concrete Leveling</a>

          <ul class="level-3">
            <li>
              <a>PolyLevel Injection</a>
            </li>
            <li>
              <a>Concrete Lifting Examples</a>
            </li>
            <li>
              <a>Lift & Level FAQ</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Concrete Repair</a>

          <ul class="level-3">
            <li>
              <a>Causes</a>
            </li>

            <li>
              <a>Cracked Concrete</a>
            </li>

            <li>
              <a>Concrete Sealant</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Crawl Spaces</a>

          <ul class="level-3">
            <li>
              <a>Vapour Barrier</a>
            </li>

            <li>
              <a>Crawlspace Dehumidifier</a>
            </li>

            <li>
              <a>Thermal Insulation</a>
            </li>

            <li>
              <a>Support Beam Jacks</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Insulation</a>
        </li>

        <li>
          <a>Refer a Friend</a>
        </li>
      </ul>
    </li>

    <li class="without-children">
      <a>Our Work</a>
    </li>

    <li class="with-children">
      <a>About Us</a>

      <div class="dropdown">
        <svg
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
          ></path>
        </svg>
      </div>

      <ul class="level-2 simple">
        <button class="return-level-1">
          <svg
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
            ></path>
          </svg>
          <span> Go Back </span>
        </button>
        <li>
          <a>Careers</a>
        </li>

        <li>
          <a>Case Studies</a>
        </li>

        <li>
          <a>Testimonials</a>
        </li>

        <li>
          <a>Financing</a>
        </li>

        <li>
          <a>Customer Reviews</a>
        </li>

        <li>
          <a>Meet The Team</a>
        </li>

        <li>
          <a>Photo Gallery</a>
        </li>

        <li>
          <a>Before & After</a>
        </li>
      </ul>
    </li>

    <li class="without-children">
      <a>Service Area</a>
    </li>

    <li class="without-children">
      <a>Free Estimate</a>
    </li>
  </ul>

  <ul class="level-1 small">
    <li class="with-children">
      <a>Services</a>
      <div class="dropdown">
        <svg
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
          ></path>
        </svg>
      </div>

      <ul class="level-2 columned">
        <button class="return-level-1">
          <svg
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
            ></path>
          </svg>
          <span> Go Back </span>
        </button>
        <li>
          <a>Basement Waterproofing</a>

          <ul class="level-3">
            <li>
              <a>Products</a>
            </li>
            <li>
              <a>Basement Crack Repairs</a>
            </li>
            <li>
              <a>Basement Flooding</a>
            </li>
            <li>
              <a>The basement System Network</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Foundation Repair</a>

          <ul class="level-3">
            <li>
              <a>Foundation Problems</a>
            </li>
            <li>
              <a>Foundation Repair Costs</a>
            </li>
            <li>
              <a>Foundation Repair Products</a>
            </li>
            <li>
              <a>About Support Works</a>
            </li>
            <li>
              <a>Testimonials</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Concrete Leveling</a>

          <ul class="level-3">
            <li>
              <a>PolyLevel Injection</a>
            </li>
            <li>
              <a>Concrete Lifting Examples</a>
            </li>
            <li>
              <a>Lift & Level FAQ</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Concrete Repair</a>

          <ul class="level-3">
            <li>
              <a>Causes</a>
            </li>

            <li>
              <a>Cracked Concrete</a>
            </li>

            <li>
              <a>Concrete Sealant</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Crawl Spaces</a>

          <ul class="level-3">
            <li>
              <a>Vapour Barrier</a>
            </li>

            <li>
              <a>Crawlspace Dehumidifier</a>
            </li>

            <li>
              <a>Thermal Insulation</a>
            </li>

            <li>
              <a>Support Beam Jacks</a>
            </li>
          </ul>
        </li>

        <li>
          <a>Insulation</a>
        </li>

        <li>
          <a>Refer a Friend</a>
        </li>
      </ul>
    </li>

    <li class="without-children">
      <a>Our Work</a>
    </li>

    <li class="with-children">
      <a>About Us</a>

      <div class="dropdown">
        <svg
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 320 512"
        >
          <path
            fill="currentColor"
            d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
          ></path>
        </svg>
      </div>

      <ul class="level-2 simple">
        <button class="return-level-1">
          <svg
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 320 512"
          >
            <path
              fill="currentColor"
              d="M151.5 347.8L3.5 201c-4.7-4.7-4.7-12.3 0-17l19.8-19.8c4.7-4.7 12.3-4.7 17 0L160 282.7l119.7-118.5c4.7-4.7 12.3-4.7 17 0l19.8 19.8c4.7 4.7 4.7 12.3 0 17l-148 146.8c-4.7 4.7-12.3 4.7-17 0z"
            ></path>
          </svg>
          <span> Go Back </span>
        </button>
        <li>
          <a>Careers</a>
        </li>

        <li>
          <a>Case Studies</a>
        </li>

        <li>
          <a>Testimonials</a>
        </li>

        <li>
          <a>Financing</a>
        </li>

        <li>
          <a>Customer Reviews</a>
        </li>

        <li>
          <a>Meet The Team</a>
        </li>

        <li>
          <a>Photo Gallery</a>
        </li>

        <li>
          <a>Before & After</a>
        </li>
      </ul>
    </li>

    <li class="without-children">
      <a>Service Area</a>
    </li>

    <li class="without-children">
      <a>Free Estimate</a>
    </li>
  </ul>

  <div class="menu-button-container">
    <button id="menu-button" class="menu-button">
      <img src="../../assets/svgs/menu.svg" />
    </button>
  </div>
</div>
