@import "../utils/encode_svg.scss";

// Widgets
@import "../widgets/before_after_sidebar.widget.scss";
@import "../widgets/case_study.widget.scss";
@import "../widgets/city_map.widget.scss";
@import "../widgets/city_page_list.widget.scss";
@import "../widgets/contact.widget.scss";
@import "../widgets/job_stories.widget.scss";
@import "../widgets/photo_gallery.widget.scss";
@import "../widgets/press_release.widget.scss";
@import "../widgets/reviews_sidebar.widget.scss";
@import "../widgets/testimonial.widget.scss";

.citypage_index {
  // I do not know what this is??
  .citypage_2col_widget_wrapper {
    @apply hidden;
  }

  .citypage_text_generated_content {
    @apply clear-both;

    .citypage_text_noobligation {
      @apply mb-2;
    }

    .citypage_text_responsible {
      @apply clear-both;
    }
  }

  .citypage_sidebar {
    @apply ml-8 float-right w-[300px]
      sm:float-none sm:w-full sm:ml-0;
  }

  .citypage_main_content {
    @apply pr-2 overflow-auto;
  }

  .lists,
  div {
    table {
      @apply w-full border-none;

      ul {
        @apply p-0 mt-2;
      }
    }
  }

  @include TestimonialWidget();
  @include ReviewsSidebarWidget();
  @include CityPageListWidget();
  @include CaseStudyWidget();
  @include PressReleaseWidget();
  @include BeforeAfterSidebarWidget();
  @include PhotoGalleryWidget();
  @include ContactWidget();
  @include JobStoriesWidget();
  @include CityMapWidget();
}

.citypage_testimonial_main {
  @apply px-3 py-3 pl-8 overflow-hidden border-none mb-2 mt-1;

  @screen sm {
    @apply p-5 pl-8 text-center;
  }

  .text {
    @apply text-lg text-gray-900 font-light italic relative leading-6 mb-2;
    $icon-color: #5f5f5f;

    &::before {
      content: svg-encode(
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="#{$icon-color}" d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 0 1-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z"/></svg>'
      );

      @apply w-5 h-5 absolute -left-2 top-0 transform -translate-x-full;
    }
    span {
      @apply inline relative;
      &::after {
        content: svg-encode(
          '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path fill="#{$icon-color}" d="M19.417 6.679C20.447 7.773 21 9 21 10.989c0 3.5-2.457 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621-.537.278-1.24.375-1.929.311-1.804-.167-3.226-1.648-3.226-3.489a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.099.49 2.748 1.179zm-10 0C10.447 7.773 11 9 11 10.989c0 3.5-2.457 6.637-6.03 8.188l-.893-1.378c3.335-1.804 3.987-4.145 4.247-5.621-.537.278-1.24.375-1.929.311C4.591 12.322 3.17 10.841 3.17 9a3.5 3.5 0 0 1 3.5-3.5c1.073 0 2.099.49 2.748 1.179z"/></svg>'
        );
        @apply w-5 h-5 absolute -right-2 top-0 transform translate-x-full;
      }
    }
  }

  .author {
    a {
      @apply text-sm text-primary font-semibold;
    }
  }
}
